<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="templates/style.css">
</head>
<body>
    <table>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
  <tr>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
    <td> x </td>
  </tr>
</table>
</body>
</html>
